*{
	box-sizing: border-box;
}

.row{
	height: 250px;
	
}
#text{
	height: 50px;
	width: 80%;
	margin: 0.5% 8% 0.5% 8% ;
	border: 2px solid blue;
    border-radius: 25px;

    font-size: 30px;
    text-align: center;
}
#submit{
	height: 40px;
	width: 10%;
	margin-left: 43%;
	font-size: 18px;
}

.showLinkAsBlock{
	
	float: right;
	clear: right;

}